Repository velo-sh/mirai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff (Python lint)
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format (Python)
  entry: uv run ruff format
  language: system
  pass_filenames: true

mypy:
  name: mypy (Python type check)
  entry: uv run mypy
  language: system
  pass_filenames: true

feat(cron): add E2E fire-chain tests + fix shutdown crash
  mirai/bootstrap.py
  tests/test_e2e_cron_fire.py
  tests/test_e2e_cron_real_llm.py
  tests/test_e2e_cron_tool.py
Due: ruff, ruff-format, mypy

feat(prompt): dynamic tool awareness in system prompt
  mirai/agent/agent_loop.py
  mirai/agent/prompt.py
Due: ruff, ruff-format, mypy

test(prompt): add 14 tests for dynamic tool awareness
  tests/test_prompt.py
Due: ruff, ruff-format

feat(im): add IMTool + cron enhancements + tests
  mirai/agent/tools/base.py
  mirai/agent/tools/im.py
  mirai/cron.py
  tests/test_cron.py
Due: ruff, ruff-format, mypy

docs(agents): add code rules + fix duck typing in prompt.py
  AGNETS.md
  mirai/agent/prompt.py
  tests/test_prompt.py
Due: ruff, ruff-format, mypy

refactor: eliminate unnecessary duck typing (hasattr/getattr/isinstance)
  mirai/agent/agent_dreamer.py
  mirai/agent/agent_loop.py
  mirai/agent/im/feishu.py
  mirai/agent/prompt.py
  mirai/agent/providers/anthropic.py
  mirai/agent/providers/openai.py
  mirai/agent/tools/system.py
  mirai/bootstrap.py
  mirai/db/duck.py
  mirai/db/models.py
Due: ruff, ruff-format, mypy

fix: follow-up quality improvements after duck typing cleanup
  AGENTS.md
  mirai/agent/tools/memory.py
  mirai/agent/tools/system.py
  tests/test_e2e_heartbeat.py
  tests/test_e2e_maintenance.py
  tests/test_integration_memory.py
Due: ruff, ruff-format, mypy

refactor: hoist lazy imports to module level
  mirai/agent/agent_dreamer.py
  mirai/agent/agent_loop.py
  mirai/agent/free_providers.py
  mirai/agent/identity.py
  mirai/agent/im/feishu.py
  mirai/agent/im/feishu_receiver.py
  mirai/agent/providers/antigravity.py
  mirai/agent/providers/message_converter.py
  mirai/agent/providers/minimax.py
  mirai/agent/providers/openai.py
  mirai/agent/tools/memory.py
  mirai/agent/tools/system.py
  mirai/auth/antigravity_auth.py
  mirai/auth/auth_cli.py
  mirai/cron.py
  mirai/db/models.py
  mirai/logging.py
  mirai/memory/vector_db.py
Due: ruff, ruff-format, mypy

deps: add httpx[http2] and hoist antigravity_auth imports
  mirai/agent/providers/antigravity.py
  mirai/agent/providers/quota.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix: update failover test patch targets and mock data
  tests/test_failover.py
Due: ruff, ruff-format

fix: hoist antigravity_auth imports and update test patch targets
  mirai/agent/providers/factory.py
  mirai/agent/tools/system.py
  tests/test_model_discovery.py
  tests/test_provider_abstraction.py
  tests/test_qa_robustness.py
  tests/test_qa_round2.py
  tests/test_system_tool.py
Due: ruff, ruff-format, mypy

fix: add missing _health_status and _free_source in test_qa_round2 ModelRegistry fixtures
  tests/test_qa_round2.py
Due: ruff, ruff-format

refactor: replace ModelRegistry.__new__() antipattern with for_testing() factory
  mirai/agent/registry.py
  tests/test_free_providers.py
  tests/test_model_registry.py
  tests/test_models_dev.py
  tests/test_qa_round2.py
  tests/test_qa_round5.py
Due: ruff, ruff-format, mypy

refactor: code quality round 2 — imports, factories, config
  .pre-commit-config.yaml
  README.md
  mirai/agent/agent_loop.py
  mirai/agent/providers/factory.py
  mirai/agent/providers/quota.py
  mirai/db/duck.py
  pyproject.toml
  tests/conftest.py
  tests/test_claude_compat.py
  tests/test_fallback_chain.py
  tests/test_model_registry.py
  tests/test_models_dev.py
  tests/test_qa_round2.py
  tests/test_qa_round5.py
  tests/test_system_tool.py
  uv.lock
Due: ruff, ruff-format, mypy

refactor: Round 3 code quality improvements
  mirai/agent/agent_dreamer.py
  mirai/agent/agent_loop.py
  mirai/agent/im/base.py
  mirai/agent/providers/embeddings.py
  mirai/agent/tools/base.py
  mirai/agent/tools/im.py
  mirai/agent/tools/system.py
  mirai/agent/tools/workspace.py
  mirai/bootstrap.py
  mirai/config.py
  mirai/cron.py
  mirai/memory/dreamer.py
  mirai/py.typed
  pyproject.toml
  tests/test_dreamer.py
  tests/test_model_registry.py
  tests/test_models_dev.py
  tests/test_multimodal.py
  tests/test_prompt.py
  tests/test_provider_abstraction.py
  tests/test_provider_smoke.py
  tests/test_providers.py
  tests/test_qa_round2.py
  tests/test_qa_round5.py
  tests/test_qa_round6.py
  tests/test_security_workspace.py
Due: ruff, ruff-format, mypy

ci: add GitHub Actions CI and pytest-cov coverage
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

refactor: split SystemTool into ModelTool/ConfigTool/CronTool, extract CronStore
  mirai/agent/tools/config_tool.py
  mirai/agent/tools/cron_tool.py
  mirai/agent/tools/model.py
  mirai/agent/tools/system.py
  mirai/bootstrap.py
  mirai/cron.py
  tests/test_config_tool.py
  tests/test_e2e_cron_real_llm.py
  tests/test_e2e_cron_tool.py
  tests/test_model_registry.py
  tests/test_qa_round2.py
  tests/test_system_tool.py
Due: ruff, ruff-format, mypy

fix: resolve 10 pre-existing test failures in cron and SystemTool
  mirai/agent/prompt.py
  mirai/agent/tools/editor.py
  mirai/agent/tools/system.py
  mirai/agent/tools/workspace.py
  mirai/auth/__init__.py
  mirai/bootstrap.py
  mirai/config.py
  mirai/cron.py
  mirai/db/duck.py
  mirai/tracing.py
  mirai/utils/__init__.py
  pyproject.toml
  tests/test_system_tool.py
  uv.lock
Due: ruff, ruff-format, mypy

feat: P0 quick wins + P1 function refactoring
  .github/dependabot.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  SECURITY.md
  docker-compose.yml
  mirai/agent/agent_loop.py
  mirai/agent/registry.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

refactor: extract helpers from _process_and_reply and get_catalog_text
  mirai/agent/im/feishu_receiver.py
  mirai/agent/registry.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
