Repository velo-sh/mirai: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff (Python lint)
  entry: uv run ruff check --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format (Python)
  entry: uv run ruff format
  language: system
  pass_filenames: true

mypy:
  name: mypy (Python type check)
  entry: uv run mypy
  language: system
  pass_filenames: true

fix: resolve all mypy + ruff errors across 33 source files
  main.py
  mirai/agent/heartbeat.py
  mirai/agent/im/base.py
  mirai/agent/im/feishu.py
  mirai/agent/im/feishu_receiver.py
  mirai/agent/loop.py
  mirai/agent/providers.py
  mirai/agent/tools/base.py
  mirai/agent/tools/echo.py
  mirai/agent/tools/editor.py
  mirai/agent/tools/memory.py
  mirai/agent/tools/shell.py
  mirai/agent/tools/workspace.py
  mirai/auth/antigravity_auth.py
  mirai/auth/auth_cli.py
  mirai/collaborator/manager.py
  mirai/collaborator/models.py
  mirai/db/duck.py
  mirai/db/session.py
  mirai/memory/dreamer.py
  mirai/memory/models.py
  mirai/memory/vector_db.py
  scripts/seed_collaborators.py
  scripts/test_feishu_live.py
  test_dreamer.py
  test_heartbeat.py
  test_loop.py
  test_workspace.py
  tests/test_action_layer.py
  tests/test_e2e_heartbeat.py
  tests/test_e2e_maintenance.py
  tests/test_feishu_provider.py
  tests/test_integration_executive.py
  tests/test_integration_memory.py
  tests/test_security_deep_dive.py
  tests/test_security_workspace.py
Due: ruff, ruff-format, mypy

feat: TOML config system + E2E live test scripts
  config.toml.example
  main.py
  mirai/agent/loop.py
  mirai/agent/providers.py
  mirai/config.py
  mirai/db/session.py
  scripts/seed_collaborators.py
  scripts/test_antigravity_live.py
  tests/test_integration_memory.py
Due: ruff, ruff-format, mypy

chore: add config.toml to .gitignore to prevent secret leaks
  .gitignore
Due: none

fix: add Claude 4 model names to MODEL_MAP, add unmapped model warning
  mirai/agent/providers.py
Due: ruff, ruff-format, mypy

perf: modernize Python stack with high-performance libraries
  main.py
  mirai/agent/heartbeat.py
  mirai/agent/im/feishu.py
  mirai/agent/im/feishu_receiver.py
  mirai/agent/loop.py
  mirai/agent/models.py
  mirai/agent/providers.py
  mirai/auth/antigravity_auth.py
  mirai/config.py
  mirai/db/duck.py
  mirai/logging.py
  mirai/memory/dreamer.py
  mirai/memory/vector_db.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

test: add comprehensive QA unit test suite (93 tests)
  mirai/config.py
  tests/conftest.py
  tests/test_agent_loop.py
  tests/test_config.py
  tests/test_logging.py
  tests/test_models.py
  tests/test_providers.py
  tests/test_tools.py
Due: ruff, ruff-format, mypy

feat: application layer optimizations
  main.py
  mirai/agent/loop.py
  mirai/agent/providers.py
  mirai/tracing.py
  tests/test_app_layer.py
Due: ruff, ruff-format, mypy

test: comprehensive QA test expansion (unit + integration)
  tests/test_duckdb_storage.py
  tests/test_heartbeat.py
  tests/test_integration_full_stack.py
  tests/test_rate_limiter.py
  tests/test_stream_run.py
  tests/test_tracing.py
Due: ruff, ruff-format

test: E2E Feishu agent lifecycle test
  tests/test_e2e_feishu_agent.py
Due: ruff, ruff-format

feat: Feishu live-test fixes and E2E test
  main.py
  mirai/agent/im/feishu_receiver.py
  mirai/agent/providers.py
  mirai/config.py
  tests/test_e2e_feishu_agent.py
Due: ruff, ruff-format, mypy

feat: multi-turn conversation history for Feishu chat
  main.py
  mirai/agent/im/feishu_receiver.py
  mirai/agent/loop.py
  tests/test_e2e_feishu_agent.py
Due: ruff, ruff-format, mypy

fix: SOUL.md language constraint and critique prompt leak
  mirai/agent/loop.py
  mirai/collaborator/01AN4Z048W7N7DF3SQ5G16CYAJ_SOUL.md
Due: ruff, ruff-format, mypy

refactor: rewrite SOUL.md with OpenClaw-inspired adaptive identity
  mirai/collaborator/01AN4Z048W7N7DF3SQ5G16CYAJ_SOUL.md
  mirai/collaborator/SOUL.template.md
Due: none

fix: resolve empty agent responses via retry logic and monologue injection; enable real-time SOUL reloading
  main.py
  mirai/agent/im/feishu_receiver.py
  mirai/agent/loop.py
  mirai/agent/providers.py
  mirai/config.py
  mirai/db/duck.py
  tests/data/e2e_l3.duckdb
  tests/data/test_l3.duckdb
  tests/test_duckdb_storage.py
  tests/test_e2e_feishu_agent.py
Due: ruff, ruff-format, mypy

feat: implement multimodal perception, dreamer service, and shadow workbench with QA robustness suite
  main.py
  mirai/agent/dreamer.py
  mirai/agent/im/feishu_receiver.py
  mirai/agent/loop.py
  mirai/agent/providers.py
  mirai/agent/tools/git.py
  tests/test_dreamer.py
  tests/test_multimodal.py
  tests/test_qa_robustness.py
  tests/test_workbench.py
Due: ruff, ruff-format, mypy

feat: finalize Mirai Evolution Phase (Phase 5)
  mirai/agent/loop.py
  mirai/agent/providers.py
  mirai/memory/vector_db.py
  tests/data/e2e_l3.duckdb
  tests/data/test_l3.duckdb
  tests/test_e2e_feishu_agent.py
Due: ruff, ruff-format, mypy

fix: supplement Antigravity model mappings and finalize stable config
  mirai/agent/providers.py
Due: ruff, ruff-format, mypy

fix: resolve misleading 0% usage report for restricted models
  mirai/auth/antigravity_auth.py
  mirai/auth/auth_cli.py
Due: ruff, ruff-format, mypy

style: fix CLI usage table alignment
  mirai/auth/auth_cli.py
Due: ruff, ruff-format, mypy

style: final alignment polish for auth_cli
  mirai/auth/auth_cli.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
